server {
    listen 80 default_server;
    server_name minemap;

    sendfile on;
    tcp_nopush on;
    keepalive_timeout 5;
    reset_timedout_connection on;

    access_log off;
    error_log /var/log/nginx/error.log crit;

    location / {
        autoindex on;
        alias /public/;
    }
}
